
<div *ngIf = "continue">
    <div class=" col-4 align-self-center text-center">
  
        <div class="form-group  box">
          <label for="exampleInputEmail1">enter password</label>
          <input autofocus type="password" class="form-control" id="exampleInputEmail1" [(ngModel)]="password1"  placeholder="Password ">
        </div>
        <div class="form-group box ">
          <label for="exampleInputPassword1">Confirm password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password2"  placeholder="Password">
         
        </div> 
        <div>
            <a class="btn btn-info " (click)="AddUser()">OK</a>
        </div>    
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="progress container ">
        <div class="progress progress-bar bg-info" role="progressbar" style="width: 80%;  height: 15px;" >80%</div>
      </div>
</div>

<div  *ngIf = "!continue">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 >
        thank you, {{UserServisService.user.name}} 
    </h2>
    <br>
    <br>
    <h3>
        Your user hes been successfully created
    </h3>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="progress container ">
        <div class="progress progress-bar bg-info" role="progressbar" style="width: 100%;  height: 15px;" >100%</div>
      </div>
      <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        In order to fit the simulator you need to have a short questionnaire.
    </p>
    <div>
        <a type="button" class="btn btn-info" routerLink="/questionnaire">continue</a>
    </div>
    

</div>
<br>
<br>

