
<div class="form-row">
    <div class="col-md-4 mb-3 ">
        <label for="validationTooltip01">Id number</label>
        <input autofocus name="d" type="number" class="form-control" [(ngModel)]="idNumber"  required>   
    
    </div>
     <div class="col-md-4 mb-3">
         <label for="validationTooltip03">mySupervizor</label>
         <input name="c" type="number" class="form-control" [(ngModel)]="mySupervizor"  required>   
    </div>  
   
  </div>
  <div class="form-row ">
    <div class="col-md-4 mb-3">
         <a class="btn btn-info" (click)="newIntern()">create new intern</a>
    </div>
    <div class="col-md-4 mb-3">
          <a class="btn btn-info" (click)="newSupervizor()">create new supervizor</a>
    </div>
  </div>








