<div class="row">
<div  class="card Information col-2" style="float: left;;  margin: 30px;">
    <div class="card-body">
        <img class="imgUser "  src="{{user.img}}" >
        <br/>
        <br/>
        <h5 class="card-title">{{user.name}}</h5>
        
        <br/>

        <h5 class="card-title">id Number: {{user.idNumber}}</h5>
        <h5 class="card-title">Id passport: {{user.Idpassport}}</h5>
        <h5 class="card-title">phon Number: {{user.phonNumber}}</h5>
        <h5 class="card-title">creation date: {{user.creation_date|date:'d/M/yyyy' }}</h5>
        <h5 class="card-title">email: {{user.email}}</h5>
    </div>
</div>
<div class="col-6" style="margin-top : 30px;">
<div style="margin-left: auto;margin-right: auto;">
       
    <table class="table">
        <thead>
            <tr>
                <th>interns</th>
                <th *ngFor ='let test of tests'> {{test.profession}}</th>
                                                         
                <th>Upload Test</th>
                <th>Done</th>
                 
            </tr>
        </thead>
        <tbody  >
            <tr *ngFor ='let user of users'>
                <th>
                   {{user.name}}
                </th>
               
                <th *ngFor ='let test of tests'>
                    <!-- <div > {{testScore(user.idNumber,test.profession)}} </div> -->
                </th>
                <th>
                    
                </th>

            </tr>
        </tbody>
    </table>
   
</div>
</div>
</div>