.imgUser{
    width: 80px;
    height: 80px;
    margin: 30px;
}
.imgSymbol{
    height: 50px;
    width: 50px;
}
.Information{
    width: 200px;
    height: 700px;
    border-color: rgb(54, 163, 190);
    border-width: 5px;
    margin: 10px;
}
.boxUploaded{
    border: rgb(16, 41, 182);
    border-width: 40px;
    position: fixed;
   box-shadow:  4px 4px 4px 4px;
    left: 25%;
    top: 20%;
   
    width: 700px;
    height: 500px;
}